<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA9B48561F01209C0037E01A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA9B486A1F01209D0037E01A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA9B48751F01209D0037E01A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
